* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 100;
  overflow: hidden;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.header {
  width: 100%;
  background-color: tomato;
}
.header__inner {
  padding: 10px 0;
  display: flex;
  flex-direction: row-reverse;
}

.content {
  padding: 10px 0;
}
/* .content__item {

} */